@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap'); /*'Pangolin', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@900&display=swap');


/*=============================
------VARIABLES GLOBALES--------
==============================*/

:root {
  --colorPrincipal: rgb(12, 200, 233);
  --fontTitulos:'Recursive', sans-serif;
  --fontTexto:'Pangolin', cursive;
}

html {
  scroll-behavior: smooth;
  font-family: var(--fontTexto);
  background: rgb(29, 31, 34);
  color:rgb(192, 185, 185);
}

[id] {
  scroll-margin-top: 3.5rem;
}


/*=======================
 *  MENU DE NAVEGACION
 * ========================*/ 

.menu {
  background: rgb(17, 19, 20);
  height: 75px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  z-index:100000;
}

.menu__logo {
  width: 100px;
  margin-left: 30px;
  vertical-align: top;
}

.menu__lista {
  list-style-type: none;
  margin-right: 30px;
}

.menu__lista.mostrar {
  top: 65px;
}

.menu__items {
  margin: 20px 0;
}

.menu__enlaces {
  font-family: var(--fontTitulos);
  color: var(--colorPrincipal);
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 7px 2px;
  padding-bottom: 2px;
  cursor: pointer;
  text-transform: uppercase;
  margin-bottom: 80px;
}

.menu__enlaces:hover {
  color:#fff;
}

.menu__icono {
  margin-right: 30px;
  font-size: 35px;
  color: var(--colorPrincipal);
  cursor: pointer;
  display: inline-block;
}

.active {
  color: #fff;
}

/*------------------------------
--------BOTON SCROLL TOP-----
===============================*/
.scroll__top-boton {
  position: fixed;
  z-index: 999;
  border:none;
  bottom: 10vh;
  left: 5vw;
  background-color: transparent;
  cursor: pointer;
}

.scroll__top-boton .bx {
  font-size: 2rem;
}



.hidden {
  visibility: hidden;
  opacity: 0;
}

/*------------------------------
--------INFORMACION HEADER-----
===============================*/

.informacion {
  width: 100%;
  height: 100vh;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(67, 67, 67, 0.4)), url(../img/about-me/fondo.jpeg);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, rgba(29, 31, 34, 0.999), rgba(67, 67, 67, 0.89)), url(../img/about-me/fondo.jpeg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
}

.informacion__textcontain {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 40%;
  margin: 0 auto;
}


.informacion__saludo {
  font-size: 3rem;
  padding-top: 7rem;
  font-weight: 700;
  background: linear-gradient(-120deg, #e78f79 20%, var(--colorPrincipal) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  /*color:var(--colorPrincipal);*/
  letter-spacing: 0.3rem;
  line-height: 4rem;
  font-family: var(--fontTitulos);
  text-shadow: 2px 2px 2px rgba(0,0,0,0.2),
              -2px -2px 2px rgba(0,0,0,0.2);
}

.informacion__texto {
  font-size: 1rem;
  color:var(--colorPrincipal);
  line-height: 2rem;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5),
              -2px -2px 4px rgba(0,0,0,0.5);
}

.informacion__imgcontain {
  display: none;
}









/*--========================
 * SECTION ABOUT ME
 * ==========================*/
 
.about {
  margin: auto;
  width: 100%;
  height: 100%;
}

.about__cont {
  max-width: 1000px;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.about__prof {
  color: var(--colorPrincipal);
  font-size: 14px;
  font-weight: 400;
  font-family: var(--fontTitulos);
  margin: 10px 0;
}

.about__img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  
}

.about__descripcion {
  line-height: 25px;
  text-align: left;
  width: 90%;
  font-size: 14px;
}

.boton {
  background-color: rgb(15, 15, 15);
  margin-top: 3rem;
  margin-bottom: 4rem;
  border-radius: 5px;
  display:inline-block;
  outline: none;
  padding:0.6rem 2rem;
  font-family: var(--fontTexto);
  color:var(--colorPrincipal);
  border: none;
  transition: box-shadow 0.5s ease;
}

.boton:hover {
  box-shadow: 3px 0 20px 5px rgba(163,163,163,.2);
}



.titulos {
  font-family: var(--fontTitulos);
  text-align: center;
  padding-top: 30px;
  color: var(--colorPrincipal);
}

.skills {
  margin-top:4rem;
  width:inherit;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.skills__title {
  color:var(--colorPrincipal);
  font-weight: bold;
  font-family: var(--fontTitulos);
}

.text-column-3 {
  margin-left: 1rem;
  margin-top:1rem;
}

.text-column-3 ol > li {
  list-style-type: none;
}

.text-column-3 ol > li::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.2rem;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAbNJREFUSEu9VTFWwkAQ/UMRWqpoB1aQWAg3wBvgCfQG4gmAE4hH4AR6A+MJjIUEK7XTVFCS52N8m4RAlt2w4MNUyWZ3/p+ZP38JB37owPGxAVB5f65YkXULpnYMTuxFVnQzPWlN9yGzAWBPAh/gMymYHzbc1p8B7LdxB4x7AJ+lNIMFsQegWmI6/3Ic8Z49Yj8zrgloM+AR4S6suw/re3IZ2MFrH0Q9MA9C57QvNqrW4vUVmXxihIt1kDzA6tCHYCxOLogfAdQgHcxKmZJZEiHg6bvhJv0TLZTrqu4BvYQNp5krz2TM4jtsuFkMW7GmUVF5CMZlSmEUWfOurKKMCFE/rDuDrJTIk9HOgYqN3OBUEOY92FaCjXImPRsKlQnlgdAtVNGuALGalnMjiUDb5OWPbSWSpDqLyvOaatr37sHRZNxloAegsj43chmNAY6DoPYDVIm4Q0Anno1E6KOw7l7pbKTI7LSH0mDKpm7NQGN24tyMAH8B+ETwZLUYZVBkdrJV6AIWZrCL2e0HoDY7Yd9NlV2bgBiZneyQJoG1g5ZcmbHZpVcmPJXZmYL8/6Vvysx03y81L/8Z4VLUDgAAAABJRU5ErkJggg==");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.skills__container {
  width: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

.skills__container > img {
  width: 30px;
  height: auto;
  margin-left:1.5rem ;
  margin-top: 2rem;
}




















/*--========================
 * PROYECTOS  
 * ==========================*/
 .proyectos {
  width: 100%;
  height: 100%;
  margin: auto;
  margin-bottom: 40px;
 }

 .proyectos__container {
   height: 100%;
   width: 100%;
   margin: 0 auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
  }

 .proyectos__cajas {
   width: 45%;
   margin-top: 2rem;
   opacity: 0.5;
  }
  
  .proyectos__cajas:hover {
    opacity: 1;
   }
  .proyectos__img {
   border-radius: 0.2rem;
   width: 100%;
   vertical-align: top;
 }





 
/*--========================
 * CONTACTO
 * ==========================*/

 .formulario {
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, rgba(29, 31, 34, 0.99), rgba(0, 0, 0, 0.8)),url(../img/about-me/fondo3.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   background-size: cover;
   background-position: top;
   width: 100%;
   height: 100%;
   padding-bottom: 4rem;
 }

 .formulario__form {
   width: 85%;
   margin: 0 auto;
 }

 .formulario__label {
   display: block;
   font-weight: 700;
   padding: 0.625rem;
   cursor: pointer;
   font-size: 0.875rem;
 }

 .formulario__grupo-input {
   position: relative;
 }

 .formulario__input {
   width: 100%;
   background-color: #aaa;
   border: 1px solid transparent;
   border-radius: 3px;
   height: 2.6rem;
   line-height: 2.6rem;
   padding: 0 2.5rem 0 0.625rem;
   transition: .3s ease all;
  }
  
  .formulario__input:focus {
   border: 2px solid var(--colorPrincipal);
   outline: none;
   box-shadow: 3px 0 30px rgba(163,163,163,.4);
 }

 .formulario__input-error {
   font-size: 0.75rem;
   margin: 0.3rem 0 1rem;
   color:#bb2929;
   display: none;
 }

 .formulario__input-error-activo {
   display: block;
 }

 .formulario__validacion-estado {
   position: absolute;
   right: 10px;
   bottom: 15px;
   z-index: 100;
   font-size: 1rem;
   opacity: 0;
 }

 .formulario__grupo-btn-enviar {
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .formulario__btn {
    height: 2.8125rem;
    line-height: 2.8125rem;
    width: 100%;
    background: #000;
    color:var(--colorPrincipal);
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: box-shadow .5s ease;
    margin-top: 1rem;
 }

 .formulario__btn:hover {
   box-shadow: 3px 0 20px 10px rgba(163,163,163,.2);
 }

 .formulario__mensaje-exito {
   font-size: 0.875rem;
   color:var(--colorPrincipal);
   display: none;
   margin-top: 1rem;
 }

 .formulario__mensaje-exito-activo {
   display: block;
 }

 /*-----Estilos para validar los formularios----*/
 .formulario__grupo-correcto .formulario__validacion-estado{
    color:#1ed12d;
    opacity: 1;
 }

 .formulario__grupo-incorrecto > label {
   color:#bb2929;
 }
 
 .formulario__grupo-incorrecto .formulario__validacion-estado {
   color:#bb2929;
   opacity: 1;
 }
 
 .formulario__grupo-incorrecto .formulario__input {
   border:2px solid #bb2929;
 }

 textarea {
   min-height: 150px;
   max-height: 150px;
   line-height: 1.5rem !important;
   resize: none;
 }

 

 

 

 .redes {
   width: 70%;
   height: 100px;
   margin: 8rem auto;
 }

 .redes__group {
  list-style-type: none;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap; 
 }

 .redes__list {
   margin-bottom: 3rem;
 }

 .redes__link {
    font-size: 30px;
    padding: 25px;
 }



 /*----COLORES DE REDES SOCIALES*/
 .bxl-facebook {
  color:#fff;
}

.bxl-twitter {
  color:#fff;
}

.bxl-github {
  color:#fff;
}

.bxl-linkedin-square {
  color:#fff;
}

.bxl-facebook:hover {
  color:#3b5998;
}

.bxl-twitter:hover {
  color:#1da1f2;
}

.bxl-github:hover {
  color:#6e5494;
}

.bxl-linkedin-square:hover {
  color:#0077b5;
}
 
  
 /*===============================
 ----------FOOOTER----------------
 =============================== */
 .footer {
   background-color: #000;
   width: 100%;
   height: 80px;
   display: flex;
   justify-content: space-around;
   align-items: center;
 }

 .footer__imagen {
    vertical-align: top;
    width: 60px;
 }

 .footer__texto {
  color:var(--colorPrincipal);
  font-family: var(--fontTexto);
  font-size: 12px;
 }