@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap'); /*'Pangolin', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@900&display=swap');


/*=============================
------VARIABLES GLOBALES--------
==============================*/

:root {
  --colorPrincipal: rgb(12, 200, 233);
  --fontTitulos:'Recursive', sans-serif;
  --fontTexto:'Pangolin', cursive;
}

html {
  scroll-behavior: smooth;
  font-family: var(--fontTexto);
  background: rgba(10, 10, 10, 0.898);
  color:rgb(192, 185, 185);
}




/*=======================
 *  MENU DE NAVEGACION
 * ========================*/ 

.menu {
  background: #000;
  height: 75px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  z-index:100000;
}

.menu__logo {
  width: 100px;
  margin-left: 30px;
  vertical-align: top;
}

.menu__lista {
  list-style-type: none;
  margin-right: 30px;
}

.menu__lista.mostrar {
  top: 65px;
}

.menu__items {
  margin: 20px 0;
}

.menu__enlaces {
  font-family: var(--fontTitulos);
  color: var(--colorPrincipal);
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 7px 2px;
  padding-bottom: 2px;
  cursor: pointer;
  text-transform: uppercase;
  margin-bottom: 80px;
}

.menu__enlaces:hover {
  color:#fff;
}

.menu__icono {
  margin-right: 30px;
  font-size: 35px;
  color: var(--colorPrincipal);
  cursor: pointer;
  display: inline-block;
}

.active {
  color: #fff;
}

/*------------------------------
--------INFORMACION HEADER-----
===============================*/

.informacion {
  width: 100%;
  height: 100vh;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(67, 67, 67, 0.4)), url(../img/about-me/fondo.jpeg);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.99), rgba(67, 67, 67, 0.79)), url(../img/about-me/fondo.jpeg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
}

.informacion__textcontain {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 40%;
  margin: 0 auto;
}


.informacion__saludo {
  font-size: 3rem;
  padding-top: 7rem;
  font-weight: 700;
  color:var(--colorPrincipal);
  letter-spacing: 0.3rem;
  line-height: 4rem;
  font-family: var(--fontTitulos);
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5),
              -2px -2px 4px rgba(0,0,0,0.5);
}

.informacion__texto {
  font-size: 1rem;
  color:var(--colorPrincipal);
  line-height: 2rem;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5),
              -2px -2px 4px rgba(0,0,0,0.5);
}

.informacion__imgcontain {
  display: none;
}



/*hr {
 background-color: var(--colorPrincipal);
 height: 8px;
 width: 90%;
 margin:1rem auto;
 border-radius: 50%;
 border:none;
 box-shadow: 2px 2px 10px rgba(0,0,0,.8), -2px -2px 10px rgba(0,0,0,.8);
}*/


/*--========================
 * SECTION ABOUT ME
 * ==========================*/
 
.about {
  margin: auto;
  width: 100%;
  height: 100%;
}

.about__cont {
  max-width: 1000px;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  
}

.about__prof {
  color: var(--colorPrincipal);
  font-size: 14px;
  font-weight: 400;
  font-family: var(--fontTitulos);
  margin-bottom: 20px;
}

.about__contImage {
  margin: 20px auto;
}

.about__img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
}

.about__descripcion {
  line-height: 25px;
  text-align: justify;
  width: 80%;
  font-size: 14px;
}

.boton {
  background: rgb(15, 15, 15);
  margin: 5rem 0;
  border-radius: 5px;
  border:none;
  outline: none;
  padding:0.6rem 2rem;
  font-family: var(--fontTitulos);
  box-shadow: 1px 1px 4px rgba(255,255,255,.5),-1px -1px 4px rgba(255,255,255,.5);
}

.boton__enlacecv {
  color:var(--colorPrincipal);
}


.titulos {
  font-family: var(--fontTitulos);
  text-align: center;
  padding-top: 30px;
  color: var(--colorPrincipal);
}


/*--========================
 * PROYECTOS  
 * ==========================*/
 .proyectos {
  width: 100%;
  height: 100%;
  margin: auto;
  margin-bottom: 40px;
 }

 .proyectos__container {
   height: 100%;
   width: 100%;
   margin: 0 auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
  }

 .proyectos__cajas {
   width: 45%;
   margin-top: 2rem;
   opacity: 0.5;
  }
  
  .proyectos__cajas:hover {
    opacity: 1;
   }
  .proyectos__img {
   border-radius: 0.2rem;
   width: 100%;
   vertical-align: top;
 }







/*--========================
 * CONTACTO
 * ==========================*/

 .formulario {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(67, 67, 67, 0.4)), url(../img/about-me/fondo3.jpeg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(67, 67, 67, 0.59)), url(../img/about-me/fondo3.jpeg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
   width: 100%;
   height: 100%;
   padding-bottom: 4rem;
 }

 .formulario__form {
   width: 85%;
   margin: 0 auto;
 }

 .formulario__label {
   display: block;
   font-weight: 700;
   padding: 0.625rem;
   cursor: pointer;
   font-size: 0.875rem;
 }

 .formulario__grupo-input {
   position: relative;
 }

 .formulario__input {
   width: 100%;
   background-color: #ddd;
   border: 1px solid transparent;
   border-radius: 3px;
   height: 2.6rem;
   line-height: 2.6rem;
   padding: 0 2.5rem 0 0.625rem;
   transition: .3s ease all;
  }
  
  .formulario__input:focus {
   border: 2px solid var(--colorPrincipal);
   outline: none;
   box-shadow: 3px 0 30px rgba(163,163,163,.4);
 }

 .formulario__input-error {
   font-size: 0.75rem;
   margin: 0.3rem 0 1rem;
   color:#bb2929;
   display: none;
 }

 .formulario__input-error-activo {
   display: block;
 }

 .formulario__validacion-estado {
   position: absolute;
   right: 10px;
   bottom: 15px;
   z-index: 100;
   font-size: 1rem;
   opacity: 0;
 }

 .formulario__mensaje {
    height: 2.8125rem;
    line-height: 2.8125rem;
    background-color:#bb2929;
    color:#fff;
    padding: 0 3px;
    border-radius: 3px;
    display: none;
    font-size: 0.8rem;
    text-align: center;
 }

 .formulario__mensaje-activo {
   display: block;
 } 

 .formulario__grupo-btn-enviar {
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .formulario__btn {
    height: 2.8125rem;
    line-height: 2.8125rem;
    width: 100%;
    background: #000;
    color:var(--colorPrincipal);
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
    margin-top: 1rem;
 }

 .formulario__btn:hover {
   box-shadow: 3px 0 30px rgba(163,163,163,.1);
 }

 .formulario__mensaje-exito {
   font-size: 0.875rem;
   color:var(--colorPrincipal);
   display: none;
   margin-top: 1rem;
 }

 .formulario__mensaje-exito-activo {
   display: block;
 }

 /*-----Estilos para validar los formularios----*/
 .formulario__grupo-correcto .formulario__validacion-estado{
    color:#1ed12d;
    opacity: 1;
 }

 .formulario__grupo-incorrecto .formulario__label {
   color:#bb2929;
 }
 
 .formulario__grupo-incorrecto .formulario__validacion-estado {
   color:#bb2929;
   opacity: 1;
 }
 
 .formulario__grupo-incorrecto .formulario__input {
   border:2px solid #bb2929;
 }

 textarea {
   min-height: 150px;
   max-height: 150px;
   max-width: 100%;
   min-width: 100%;
   line-height: 1.5rem !important;
 }

 

 

 

 .redes {
   width: 70%;
   height: 100px;
   margin: 8rem auto;
 }

 .redes__group {
  list-style-type: none;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap; 
 }

 .redes__link {
    font-size: 30px;
    padding: 25px;
 }



 /*----COLORES DE REDES SOCIALES*/
 .bxl-facebook {
   color:#3b5998;
 }

 .bxl-twitter {
   color:#1da1f2;
 }

 .bxl-github {
   color:#6e5494;
 }

 .bxl-linkedin-square {
    color:#0077b5;
 }
 
  
 /*===============================
 ----------FOOOTER----------------
 =============================== */
 .footer {
   background-color: #000;
   width: 100%;
   height: 80px;
   display: flex;
   justify-content: space-around;
   align-items: center;
 }

 .footer__imagen {
    vertical-align: top;
    width: 60px;
 }

 .footer__texto {
  color:var(--colorPrincipal);
  font-family: var(--fontTexto);
  font-size: 12px;
 }