@media screen and (max-width: 768px) and (orientation: landscape) {
  .menu__items {
    margin: 5px 0 0 0;
  }

  .menu__lista {
    overflow: scroll;
    height: calc(100% - 65px);
  }
}

@media screen and (max-width: 768px) {
  .menu__lista {
    position: fixed;
    width: 100%;
    height: calc(100% - 65px);
    background: rgb(29, 31, 34);
    top: -100vh;
    text-align: center;
    transition: all 0.4s;
    flex-direction: column;
    z-index: 100;
  }
}

@media screen and (min-width:768px) {

  .menu__icono {
    display: none;
  }

  .menu__lista {
    display: flex;
  }

  .menu__items {
    margin: 0 20px;
  }

  .menu__enlaces {
    margin-bottom: 0;
  }

  .informacion {
    background: #000000;  
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.99), rgba(67, 67, 67, 0.79)), url(../img/about-me/fondo2.jpeg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-around;
  }

  .informacion__textcontain {
    margin: auto;
    width: 50%;
  }

  .informacion__saludo {
    font-size: 3.2rem;
    flex-basis: 100%;
    padding-top: 0;
  }

  .informacion__texto {
    font-size: 1.2rem;
    text-align: center;
  }

  .informacion__imgcontain {
    width: 50%;
    margin:auto ;
    width: 300px;
    display: block;
  }

  .informacion__img {
    width: 100%;
  }

 .about__prof { 
   font-size: 17px;
 }

 .bxs-city {
   font-size: 20px;
 }

 .about__descripcion {
  font-size: 16px;
  line-height: 2;
 }

 .about__img {
  width: 150px;
  height: 150px;
}

  .proyectos__img {
    opacity: 0.8;
  }

  .proyectos__img:hover {
    opacity: 1;
  }


  .proyectos__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
   }

  .proyectos__cajas {
    width: 45%;
    margin: 10px auto;
  }

  .formulario__form {
    width: 80%;
  }

  .redes {
    width: 50%;
    margin: 7rem auto;
  }


  .redes__group {
    padding-bottom: 55px;
    padding-right: 20px;
  }

  .redes__link {
    font-size: 40px;
    margin: 0;
    padding:0;
 }

  .formulario {
    background: #000000;  
    background: linear-gradient(to bottom, rgba(29, 31, 34, 0.999), rgba(0, 0, 0, 0.85)),url(../img/about-me/fondo4.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
  }

  .footer {
    height: 90px;
  }

  .footer__texto {
    font-size: 16px;
   }

   .footer__imagen {
    width: 80px;
 }

 .scroll__top-boton{
   display:none;
 }

 [id] {
  scroll-margin-top: 4.5rem;
}


.text-column-3 ol {
  display: flex;
  flex-wrap: wrap;
}

.text-column-3 ol > li {
  width: 50%;
}
}


@media screen and (min-width:992px) {
  .menu__enlaces::after {
    content: "";
    display: block;
    height:3px;
    width:0;
    background-color:transparent; 
    transition:width 0.7s ease, background-color 0.5s ease;
  }
  
  .menu__enlaces:hover::after {
    width:100%;
    background-color: #fafbfd;
  }

  .informacion__saludo {
    font-size: 3.4rem;
  }

  .informacion__imgcontain {
    width: 400px;
  }


  .proyectos__cajas {
    width: 32%;
  }


 .about__cont {
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

 .about__descripcion {
  font-size: 18px;
  width: 70%;
  text-align: justify;
  align-self: flex-start;
 }

 .about__contimg-city {
   width: 20%;
   display: flex;
   flex-direction: column;
   align-items: center;
   flex-direction: end;
 }

 .about__cont_cont {
   margin-top: 4rem;
  }
  
  .about__img {
    width: 200px;
    height: 200px;
    shape-outside: circle();
  }

.about__prof {
  text-align: start;
}


  .formulario__form {
    width: 50%;
  }

  .redes {
    width: 40%;
    margin: 6rem auto;
  }



  .redes__list {
    margin: 0 45px 25px;
  }

  .footer {
    height: 100px;
  }


  .footer__imagen {
    width: 90px;
 }

}

@media screen and (min-width:1200px) {

  .menu {
    height: 90px;
  }

  .menu__enlaces {
    font-size: 18px;
  }

  .footer {
    height: 120px;
  }

  .footer__imagen {
    width: 100px;
 }
}