
/*=========================
 *  MEDIA QUERIES DEL MENU
 * =========================*/
 @media screen and (max-width: 768px) and (orientation: landscape) {
  .menu__items {
    margin: 5px 0 0 0;
  }

  .menu__lista {
    overflow: scroll;
    height: calc(100% - 65px);
  }
}

@media screen and (max-width: 768px) {
  .menu__lista {
    position: fixed;
    width: 100%;
    height: calc(100% - 65px);
    background: #000;
    top: -100vh;
    text-align: center;
    transition: all 0.4s;
    flex-direction: column;
    z-index: 100;
  }
}


/*==========================================
----------MÉTODO MOBILE FIRST---------------
============================================*/

@media screen and (min-width:450px) {
  
}

/*==========================================
------------PANTALLAS > 768-----------------
============================================*/

@media screen and (min-width:768px) {

  .menu__icono {
    display: none;
  }

  .menu__lista {
    display: flex;
  }

  .menu__items {
    margin: 0 20px;
  }

  .menu__enlaces {
    margin-bottom: 0;
  }

  .informacion {
    flex-direction: row;
    align-items: center;
  }

  .informacion__textcontain {
    margin: auto;
  }

  .informacion__saludo {
    font-size: 52px;
  }

  .informacion__texto {
    font-size: 22px;
  }

  .informacion__img {
    width: 70%;
  }

  /*--========================
 * SECTION ABOUT ME
 * ==========================*/
 .about__prof { 
   font-size: 17px;
 }

 .bxs-city {
   font-size: 20px;
 }

 .about__descripcion {
  font-size: 16px;
  line-height: 2;
 }


  .proyectos__img {
    opacity: 0.8;
  }

  .proyectos__img:hover {
    opacity: 1;
  }


  .proyectos__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
   }

  .proyectos__cajas {
    width: 45%;
    margin: 10px auto;
  }

  .contacto__form {
    padding-top: 0;
  }

  .contacto__contain {
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0 60px 0;
    align-items: center;
  }

  .redes__group {
    padding-bottom: 55px;
    padding-right: 20px;
  }

  .redes__link {
    font-size: 40px;
    margin: 0;
    padding:0;
 }

  textarea {
    min-width: 90%;
    max-width: 90%;
  }

  /*----COLORES DE REDES SOCIALES*/
  .bxl-facebook {
    color:#3b5998;
    opacity: 0.6;
  }

  .bxl-twitter {
    color:#1da1f2;
    opacity: 0.6;
  }

  .bxl-github {
    color:#6e5494;
    opacity: 0.6;
  }

  .bxl-linkedin-square {
    color:#0077b5;
    opacity: 0.6;
  }

  .bxl-facebook:hover {
    color:#3b5998;
    opacity: 1;
  }

  .bxl-twitter:hover {
    color:#1da1f2;
    opacity:1;
  }

  .bxl-github:hover {
    color:#6e5494;
    opacity: 1;
  }

  .bxl-linkedin-square:hover {
    color:#0077b5;
    opacity: 1;
  }



  .footer {
    height: 80px;
  }

  .footer__texto {
    font-size: 16px;
   }

   .footer__imagen {
    width: 80px;
 }

  
}

/*==========================================
------------PANTALLAS > 992-----------------
============================================*/

@media screen and (min-width:992px) {

  .informacion__saludo {
    font-size: 58px;
  }

  .informacion__texto {
    font-size: 25px;
  }

  .proyectos__cajas {
    width: 32%;
  }

  /*--========================
 * SECTION ABOUT ME
 * ==========================*/
 .about__descripcion {
  font-size: 18px;
 }


  input[type="text"],
  input[type="email"],
  textarea {
    max-width: 540px;
    min-width: 540px;
  }

  .redes__list {
    margin: 0 45px 25px;
  }

  .footer {
    height: 90px;
  }

  .footer__imagen {
    width: 90px;
 }

}


/*==========================================
------------PANTALLAS > 1200-----------------
============================================*/

@media screen and (min-width:1200px) {

  .menu {
    height: 90px;
  }

  .menu__enlaces {
    font-size: 18px;
  }

  .informacion__saludo {
    font-size: 65px;
    width: 90%;
  }

  .informacion__texto {
    font-size: 30px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    max-width: 700px;
    min-width: 700px;
  }

  .footer {
    height: 100px;
  }

  .footer__imagen {
    width: 100px;
 }


}



